keys.py
streamkeys.py
.DS_Store
paper_live_test.txt

Analysis
live_trading/streamkeys.py
etc/jupyter/nbconfig/notebook.d/
__pycache__/
.ipynb_checkpoints/
lib/python3.8/site-packages/
paper_live_test.txt
scrap.py
live_trading/log_on.txt
live_trading/candle.txt
live_trading/stream2.txt
node_modules/bootstrap/
bin/
.idea/
share/
class_attempt.py
Analyzer.ipynb
pyvenv.cfg
